.form-estoque-card{
    width: 90vw;
    min-height: 100%;
    height: 19rem;
    border: 3px solid black;
    vertical-align: middle;
    margin-bottom: 3vh;
    background-color: #574F43;  
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.estoque-card-bts{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  
}

.form-estoque-card fieldset{
    height: fit-content;
    border: none;
    vertical-align: middle;
    margin-top: 2rem;
   
    
    
}

.sucess-att-product{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: green;
    
}

.fail-att-product{
    font-size: 0.8rem;
    text-align: center;
    color:red
}

.form-estoque-card span{
    font-weight: 700;
    font-size: large;
    
}
.form-estoque-card button{
    display: block;
    
}


.estoque-card-btns{
    display: flex;
    justify-content: space-around;
    
    
    
}

.opened-delet-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.opened-delet-bar{
    margin-top: 2vh;
 
}
.opened-delet-bar label{
    margin-top: 0.5vh;
    
}

.opened-delet-bar input{
    margin-top: 1vh;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    background-color: #faf8f5;
    border: 2px solid gray;
    width: 30vw;
  
 
}
.opened-delet-bar aside{
    font-size: 0.8rem;
    color:red;
 
}

.opened-delet-bar input:focus{
    text-align: center;
   
}

.btns-opened-delet-bar{
    margin-top: 2vh;
    display: flex;
    width:50vw;
    justify-content: space-around;
    
   
}

.btns-opened-delet-bar button{
    font-size: 1rem;
    width: 15vw;
    height: 4.5vh;
    font-weight: 700;
}

#btn-delet-bar-btn-cancelar{
    background-color: red;
}
#btn-delet-bar-btn-cancelar:hover{
    background-color: rgb(255, 49, 49);
    cursor: pointer;
}

#btn-delet-bar-confirmar{
    background-color: green;
}

#btn-delet-bar-confirmar:hover{
    cursor:pointer;
    background-color: rgb(26, 158, 26);
}

.estoque-card-btn-editar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}
.estoque-card-btn-editar button{
    width: 8rem;
    text-decoration: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border: 3px solid black;
    background-color: #1D1D1C;
    
    
}
.estoque-card-btn-editar button:hover{
    
    background-color:  #00cc39;
    box-shadow: 5px 5px 5px black;
    color: black;
    
}

#estoque-btn-Adicionar{
    display: inline;
    background-color: black;
    font-size: 1rem;
    margin-left: 2vw;
    
}
#estoque-btn-Adicionar:hover{
    cursor: pointer;
    background-color: gainsboro;
    color:black;
    
}
.div-estoque-btn-Adicionar{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 2vw;
   
}
.estoque-card-fields{
    display: flex;
   
  
    
   
    
    
}
.estoque-card-field-left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    
    
}



.estoque-card-field-left label,input{
    font-size: 1.2rem;
    width: 15vw;
    padding-left: 4px;
    margin-top: 0.5rem;
    
}

.estoque-card-field-left input:disabled{
    border:none;
    background-color: inherit;
    font-weight: 700;
}
.estoque-card-field-right{
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2vw;
    margin-top: 1rem;   
    
}

.estoque-card-field-right label,input{
    font-size: 1.05rem;
    width: 30vw;
    
    
}

.estoque-card-field-right textarea{
    resize: none;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    width: 29vw;
    
}
.estoque-card-field-right textarea:disabled,input:disabled{
    background-color: inherit;
    font-weight: 300;
    resize: none;
    border: none;
    color: black;
   
}

.estoque-card-field-right label:disabled{
    border:none;
    background-color: inherit;
    font-weight: 300;
    
    
}

.estoque-card-bts button{
    width: 10rem;
    text-decoration: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border: 3px solid black;
    background-color: #1D1D1C;
    margin: 1rem;
    font-size: 0.9rem;
   
    

}


.estoque-card-bts button:disabled{
    visibility: hidden;
    
}

.estoque-card-bts button:hover{
    
    background-color:  #727165;
    color: black;


}
#btn-excluir-produto{
    width: 10rem;
    text-decoration: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border: 3px solid black;
    background-color: #1D1D1C;
    font-size: 0.9rem;
}

#btn-excluir-produto:hover{
    cursor: pointer;
    background-color: rgb(255, 38, 0);
    color:white;
}
#btn-atualizar-produto{
    width: 10rem;
    text-decoration: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border: 3px solid black;
    background-color: #1D1D1C;
    font-size: 0.9rem;
}

#btn-atualizar-produto:hover{
    background-color:  #00cc39;
    color: black;
    
}
@media (max-width: 960px) {  
    
    .estoque-card-fields{
        margin-top: 1rem;
        
       
    }
    .estoque-card-field-left{
        text-align: start;
        width: 100%;
        font-size: 10px;
       
    }
   
    .estoque-card-field-right{

        display: none;

    }
    #btn-excluir-produto{
        margin-left: 9px;
        width:6rem;
        font-size: 0.8rem;
    }
    #btn-atualizar-produto{
        width:6rem;
        font-size: 0.8rem;
    }
    .estoque-card-bts button{
        width:6rem;
        font-size: 0.8rem;
    }
    
    }
.msg-add-success{
    margin-left: 1vw;
    color: green;
    padding: 3px;
    background-color: inherit;
    text-align: center;
    font-size: 1rem;
   
}

.msg-add-fail{
    margin-left: 1vw;
    color: red;
    padding: 3px;
    background-color: inherit;
    text-align: center;
    font-size: 1rem;
    
}

.div-estoque-btn-Adicionar input{
    margin-left: 1vw;
    width: 6vw;
    font-size: 1.2rem;
    text-align: center;
    height: 5vh;
    
}

.div-estoque-btn-Adicionar input:focus{
    text-align: center;
}

.estoque-card-btn-editar fieldset:disabled{
    visibility: hidden;
}

.container-search-bar-att{
    text-align: center;
    margin-top: 7vh;
}

.container-search-bar-att input{
    width: 40vw;
    font-size: 1.2rem;
    background-color: #1D1D1C;
    color: white;
    height: 2.2rem;
    border:3px solid black;
    border-radius: 5px;
    margin-top: 2rem;
 
}

.container-search-bar-att input:focus{
   
    background-color: white;
    color: black;
   
}

.display-button-atualizar-off{
    display: none !important;
}
#input-valor-venda-card-produto input{
    width: 8vw;
}

#icon-hover-total-estoque span{
    display: none;
}

#icon-hover-total-estoque:hover span{
    display: block;
    margin-top: 2vh;
}


#icon-hover-total-estoque:hover span strong{
    text-decoration:underline;
}