.container-faturamento-form-escolher-ano{
    display: flex;
    align-items: center;
    justify-content: center;
}

.faturamento-form-escolher-ano{
    margin-top: 4vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
}
.faturamento-form-escolher-ano div{
   width: 12vw;
   display: flex;
   margin-bottom: 2vh;
   margin-right: 2vw;
}
.faturamento-form-escolher-ano input{
    width: 3vw;
    cursor: pointer;
    height: 3vh;
}

.faturamento-form-escolher-ano label{
    font-weight: 700;
}

.container-btn-fat-mes-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    max-width: 100vw;
}

.container-btn-fat-mes-card button{
    display: block;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    height: 10vh;
    font-size: 1.4rem;
    cursor: pointer;
}

.container-btn-fat-mes-card button>div{
    margin-left: 3vw;
    margin-right: 3vw;
}
.page-Faturamento{
    text-align: center;
}
.page-Faturamento h1{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.page-Faturamento p{
   font-size: 1.2rem;
   margin-bottom: 2vh;
   margin-top: 1vh;
}



.container-fat-total-value{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: 5vh;
   
}
.fat-total-value{
    width: 30vw;
    background-color: #E5E4E2;
    border: 2px solid black;
    border-radius: 5px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fat-page-container-button-voltar-dia{
    display: flex;
    justify-content: flex-start;
}

.fat-page-container-button-voltar-dia >div{
    margin-top: 3vh;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    
}

.fat-page-container-button-voltar-dia button{
    display: block;
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 8px 10px 8px 10px;
    border-radius: 15px;
    background-color: #E5E4E2;
    width: 24vw;
    color:black;
    font-weight: 700;
    margin-bottom: 3vh;
    margin-right: 3vw;
}
.fat-page-container-button-voltar-dia button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    border-color: gray;
}